@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

body {font-family: Lato; font-size: 18px; background-image: url(img/map-bg.jpg);}
nav {font-family: sans-serif; font-size: 10px;}

#main {width: 900px; margin: 10px auto;}

/* (done) "column-rule") to be 2px dashed rosybrown.(completed) */
#menu {columns: 400px 2; column-gap: 100px; column-rule: 2px dashed rosybrown;}
section {margin-bottom: 50px;}

/* (done) "Starters") in small caps, colored #6d4c41. */
h1 {font-family: Supermercado One; font-size: 35px; color: #5d4037;}
h2 {margin: 0; font-size: 25px; font-weight: bold; color: #6d4c41; }

/* (done) Make the name of each menu item appear in bold in a 20px size. */


dt {font-weight: bold; font-size: 20px;}
dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

/* (done) Show the price of each item in a large font, in the color named 'firebrick' */
.price {order: 2; font-size: 30px; color: firebrick; padding-left: 10px;}

/* (done) Draw a 2px dashed rosybrown border around the address/footer */
address {padding: 10px; border: dashed 2px rosybrown;}